{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Tarea de Transcripción {{ subsession.round_number }}/{{ Constants.num_rounds }}
{% endblock %}

{% block content %}



    <p>
        Por favor, transcriba (copie) el texto que aparece a continuación en el espacio debajo.
        Sea exacto y esté seguro de tener todos los caractéres y espacios bien:

    </p>

<p id = "task"> <b>{{ reference_text }}</b> </p>

{% comment %}
    <!--
    <img src="{% static image_path %}"/>
    -->
{% endcomment %}

    <br><br>

    {% formfield player.transcribed_text label="" %}

    {% next_button %}

    {% if debug %}
        <div class="card border-warning">
            <div class="card-body">
            <h4>Explanation for researchers (shown in debug mode only)</h4>
            <p>
                You are playing in debug mode, so you can skip the manual
                transcription
                by clicking <a href="#" id="prefill">this link</a>
                and clicking "next".
            </p>

            <p>
                A subject can only advance to the next screen if the
                transcription is {{ required_accuracy }}% accurate.
            </p>
            </div>
        </div>

    {% endif %}
{% endblock %}

{% block scripts %}
<style>
    #task{
    font-size: 25px;
    }
</style>

<script>
    $(document).ready(function () {
        var referenceText = {{ reference_text|json }};
        $('#prefill').click(function () {
            $('#id_transcribed_text').val(referenceText);
        })
    });
</script>
{% endblock %}