{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if  subsession.round_number  ==  1  %}
        Primera decisión
    {% elif  subsession.round_number  ==  2  %}
        Segunda decisión
    {% endif %}
{% endblock %}

{% block content %}

        <div class="container" >
            <button type="button" class="btn btn-info btn-primary btn-block" data-toggle="collapse" data-target="#demo">Pulse aquí para ver nuevamente las instrucciones de la segunda actividad</button>
            <div id="demo" class="collapse">
                {% include Constants.instructions %}
            </div>
        </div>
    <p>
    </p>

    {% if  subsession.round_number  ==  1  %}
        <p>
            El computador decidió, de manera aleatoria, que usted fuera el <b>destinatario</b> y el otro participante el
            remitente. El destinatario tiene que indicar su opción preferida en los siguientes escenarios.
            Como usted no sabe todavía cuánto el remitente decidió enviarle, tiene que tomar una decisión para cada
            escenario posible.
        </p>
        <p>
            Para cada escenario, seleccione si quiere transferir o no trasferir al remitente una parte de las fichas:
        </p>
    {% elif  subsession.round_number  ==  2  %}
        <p>
            Para esta segunda decisión se seguirán las mismas reglas que antes. Habrá un remitente y un destinatario.
            Los que antes eran remitentes ahora serán destinatarios y viceversa. Es decir, ahora usted tomará sus
            decisiones bajo el rol de <b>destinatario</b>. Tenga en cuenta que las parejas serán diferentes. Esto quiere
            decir que el participante con el que usted va a interactuar será diferente al participante con el que
            interactuó en la primera decisión.
        </p>
        <p>
            El destinatario (usted) tiene que indicar su opción preferida en los siguientes escenarios. Como usted no
            sabe todavía cuánto el remitente decidió enviarle, tiene que tomar una decisión para cada escenario posible.
        </p>
        <p>
            Para cada escenario, seleccione si quiere transferir o no trasferir al remitente una parte de las fichas:
        </p>

    {% endif %}

    <p>
        <b>Escenario 1:</b> si el remitente me manda 1 ficha, entonces:
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    <p>
                        Trasfiero una parte de mis fichas, nos quedamos con:
                        <ul>
                            <li>3 fichas ($12000) para el remitente y</li>
                            <li>3 fichas ($12000) para mí</li>
                        </ul>
                    </p>
                </td>
                <td>
                    <p>
                        No transfiero nada, nos quedamos con:
                        <ul>
                            <li>1 ficha ($4000) para el remitente y</li>
                            <li>5 fichas ($20000) para mí</li>
                        </ul>
                    </p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="sent_back_amount_if1" value="True"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="sent_back_amount_if1" value="False"></div></td>
            </tr>
        </tbody>
    </table>
    <p>
        <b>Escenario 2:</b> si el remitente me manda 2 fichas, entonces:
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>
                    <p>
                        Trasfiero una parte de mis fichas, nos quedamos con:
                        <ul>
                            <li>4 fichas ($16000) para el remitente</li>
                            <li>4 fichas ($16000) para mí</li>
                        </ul>
                    </p>
                </td>
                <td>
                    <p>
                        No transfiero nada, nos quedamos con:
                        <ul>
                            <li>0 fichas ($0) para el remitente y</li>
                            <li>8 fichas ($32000) para mí</li>
                        </ul>
                    </p>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="sent_back_amount_if2" value="True"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="sent_back_amount_if2" value="False"></div></td>
            </tr>
        </tbody>
    </table>

    {% next_button %}
{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
