{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    BELIEFS
{% endblock %}

{% block content %}

    <p>
        <b>Como destinatario:</b>
    </p>
    <p>
        Cuantas fichas cree que le envió el otro cabezón?
    </p>
    <p>
        {{ form.receiver_belief }}
    </p>
    <p>
        Sobre el Shock:
    </p>
    <p>
        {{ form.receiver_belief_shock }}
    </p>


    {% next_button %}
{% endblock %}

{% block styles  %}
    <link href="{% static "static_sumas/css/style_sumas.css" %}" rel="stylesheet">
{% endblock %}
