{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    SEGUNDA DECISIÓN
{% endblock %}

{% block content %}

    <p>
        Ahora nos gustaría darle la oportunidad de obtener unos cuantos pesos más. Queremos que declare sus expectativas
        sobre el comportamiento de la persona con la cual ha sido emparejado.
    </p>
    <p>
        Por cada respuesta correcta, usted recibirá $500 pesos. El resultado de estas expectativas siempre se pagará,
        incluso, cuando no salga sorteado el rol de destinatario para el pago.
    </p>
    <p>
        ¿Cuántas fichas cree que le haya enviado el remitente?
    </p>
    <p>
        {{ form.receiver_belief }}
    </p>
    <p>
        ¿Cuál de los tres eventos posibles que se podían enfrentar en la primera parte de la actividad cree usted que el
        remitente con el que interactuó realmente enfrentó?
    </p>
    <p>
        {{ form.receiver_belief_shock }}
    </p>


    {% next_button %}
{% endblock %}

{% block styles  %}
    <link href="{% static "static_sumas/css/style_sumas.css" %}" rel="stylesheet">
{% endblock %}
