{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    SEGUNDA DECISIÓN
{% endblock %}

{% block content %}

        <div class="container" >
            <button type="button" class="btn btn-info btn-primary btn-block" data-toggle="collapse" data-target="#demo">Pulse aquí para ver nuevamente las instrucciones de la segunda actividad</button>
            <div id="demo" class="collapse">
                {% include Constants.instructions %}
            </div>
        </div>

    <p>
        El computador decidió, de manera aleatoria, asignarlo primero al rol de destinatario. El destinatario (usted)
        tiene que indicar su opción preferida en las siguientes tablas. Como el destinatario todavía no sabe cuánto el
        remitente decidió enviarle, tiene que tomar una decisión para cada escenario posible. Por favor marque una de
        las dos opciones en cada uno de los siguientes renglones.
    </p>
    <p>
        Para cada escenario, seleccione si quiere transferir o no trasferir al remitente una parte de las fichas:
    </p>
    <p>
        <b>Escenario 1:</b> si el remitente me manda 1 ficha, entonces:
    </p>
    <p>
        {{ form.sent_back_amount_if1 }}
    </p>
    <p>
        <b>Escenario 2:</b> si el remitente me manda 2 fichas, entonces:
    </p>
    <p>
        {{ form.sent_back_amount_if2 }}
    </p>

    {% next_button %}
{% endblock %}

{% block styles  %}
    '<link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
