{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if  subsession.round_number  ==  1  %}
        Primera decisión (continuación)
    {% elif  subsession.round_number  ==  2  %}
        Segunda decisión (continuación)
    {% endif %}
{% endblock %}

{% block content %}

    <p>
        Ahora nos gustaría darle la oportunidad de ganar unos cuantos pesos más. Queremos que declare sus expectativas
        sobre el comportamiento de la persona con la cual ha sido emparejado.
    </p>
    {% if  subsession.round_number  ==  1  %}
    <p>
        Por cada respuesta correcta, usted recibirá {{ Constants.money_per_belief }} pesos colombianos. El resultado de
        estas expectativas siempre se pagará, incluso cuando no salga sorteada esta primera decisión para pagar.
    </p>
    {% elif  subsession.round_number  ==  2  %}
    <p>
        Por cada respuesta correcta, usted recibirá {{ Constants.money_per_belief }} pesos colombianos. El resultado de
        estas expectativas siempre se pagará, incluso cuando no salga sorteada esta segunda decisión para pagar.
    </p>
    {% endif %}
    <p>
        Suponga que usted haya enviado 1 ficha al destinatario (puede que sea lo que efectivamente hizo), ¿usted cree
        que el destinatario le va a transferir una parte de sus fichas, o bien, que se quedará con todas las fichas?
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">Me va a transferir una parte de sus fichas</td>
                <td class="text-center">Se va a quedar con todas las fichas</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_if1" value="True"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_if1" value="False"></div></td>
            </tr>
        </tbody>
    </table>
    <p>
        Suponga que usted haya enviado 2 fichas al destinatario (puede que sea lo que efectivamente hizo), ¿usted cree
        que el destinatario le va a transferir una parte de sus fichas, o bien, que se quedará con todas las fichas?
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">Me va a transferir una parte de sus fichas</td>
                <td class="text-center">Se va a quedar con todas las fichas</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_if2" value="True"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_if2" value="False"></div></td>
            </tr>
        </tbody>
    </table>
    <p>
        ¿Cuál de los tres eventos posibles que se podían enfrentar en la primera parte de la actividad cree usted que
        el destinatario con el que interactuó realmente enfrentó?
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">Creo que sus ganancias acumuladas no se vieron afectadas de ninguna manera</td>
                <td class="text-center">Creo que el 80% de sus ganancias acumuladas fueron destruidas</td>
                <td class="text-center">Creo que el 80% de sus ganancias acumuladas fueron robadas por otro participante de otra sesión</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_shock" value="1"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_shock" value="2"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="sender_belief_shock" value="3"></div></td>
            </tr>
        </tbody>
    </table>

    {% next_button %}
{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
