{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    SEGUNDA PARTE
{% endblock %}

{% block content %}

    <p>
        Esta es la segunda parte del estudio. Usted tendrá que tomar dos decisiones. En cada decisión interactuará con
        una persona diferente de esta sesión. Ninguna de las personas con las que usted va a interactuar conocerá su
        identidad, ni usted la de ellas. La cantidad de dinero que puede ganar en esta parte dependerá de sus decisiones
        y de las decisiones de las personas con la que sea emparejado. Recuerde que sólo se le pagará una decisión.
        Para esto, el computador, al final de esta parte, sorteará cuál de estas dos decisiones será elegida para pagar.
        Por esta razón, es importante que piense cuidadosamente sus decisiones porque usted sólo sabrá cuál de ellas
        será elegida para pagar hasta el final de la segunda parte.
    </p>
    <p>
        Para la primera decisión de esta segunda parte hay un remitente y un destinatario. Recuerde que al inicio de
        esta sesión, tanto usted como la persona con la que va a interactuar recibieron dos fichas cada uno para esta
        parte. Es decir, no importa cuál rol desempeñe, ambos participantes al inicio de la interacción tienen dos
        fichas. Cada ficha equivale a {{ Constants.money_per_trust }} pesos colombianos.
    </p>
    <p>
        Antes de empezar le indicaremos si usted actuará como remitente o como destinatario.
    </p>
    <p>
        Hay dos etapas en esta interacción. En la primera etapa, es el remitente quien tomará la decisión, y en la
        segunda etapa, es el destinatario quien tomará la decisión. La suma final de ganancias dependerá de sus decisiones
        y de las decisiones de la persona con quien sea emparejado.
    </p>
    <p>
        En la siguiente figura se muestra la representación gráfica de la interacción.
    </p>
    <p>
        <img src ="{% static 'trust_extensive_form.png' %}" style = "width:900px;height:350px"/>
    </p>
    <p>
        <b>DECISIÓN DEL REMITENTE</b>
    </p>
    <p>
        En la primera etapa, el remitente decide si enviar 0 fichas, 1 ficha o 2 fichas al destinatario.
    </p>
    <p>
        Si el remitente no envía nada, la interacción se acaba y ambos (remitente y destinatario) se quedarán con las
        fichas asignadas al inicio de la interacción. Es decir, 2 fichas para el remitente y 2 fichas para el
        destinatario.
    </p>
    <p>
        Por otro lado, si el remitente decide enviar 1 o 2 fichas, nosotros los investigadores multiplicaremos esta
        cantidad por 3 y se la daremos al destinatario, es decir, si el remitente envía 1 ficha al destinatario, el
        destinatario recibirá 3 fichas nuevas, y si el remitente envía 2 fichas al destinatario, el destinatario
        recibirá 6 fichas nuevas.
    </p>
    <p>
        <b>DECISIÓN DEL DESTINATARIO</b>
    </p>
    <p>
        En la segunda etapa, el destinatario tiene que decidir si transferir parte de sus fichas al remitente o no
        transferir nada. Tenga en cuenta que esta decisión se toma después de la decisión del remitente, por lo tanto,
        estas fichas son la suma de la dotación inicial (2 fichas) y las fichas que haya enviado el remitente
        multiplicadas por 3. Sí el destinatario no transfiere nada, el remitente y el destinatario se quedarán con la
        cantidad de fichas que estén en sus manos al final de la primera etapa. Si el destinatario decide transferir, la
        transferencia se hará de tal manera que ambos, el remitente y el destinatario, quedarán con la misma cantidad de
        fichas.
    </p>
    <p>
        En resumen, hay cincos escenarios posibles entre remitente y destinatario que están representados en la
        siguiente tabla:
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Escenario</th>
                <th scope="col">Decisión del remitente</th>
                <th scope="col">Decisión del destinatario</th>
                <th scope="col">Resultado para el remitente</th>
                <th scope="col">Resultado para el destinatario</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Enviar cero fichas</td>
                <td>Se termina la interacción</td>
                <td>2 fichas</td>
                <td>2 fichas</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Enviar 1 ficha</td>
                <td>No transferir fichas</td>
                <td>1 fichas</td>
                <td>5 fichas</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Enviar 1 ficha</td>
                <td>Transferir fichas</td>
                <td>3 fichas</td>
                <td>3 fichas</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Enviar 2 fichas</td>
                <td>No transferir fichas</td>
                <td>0 fichas</td>
                <td>8 fichas</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Enviar 2 fichas</td>
                <td>Transferir fichas</td>
                <td>4 fichas</td>
                <td>4 fichas</td>
            </tr>
        </tbody>
    </table>
    <p>
        Si tiene alguna duda, por favor levante la mano y un asistente se acercará y lo atenderá. Si no tiene dudas de
        clic en el botón “Siguiente”. Después de dar clic en el botón “Siguiente”, el computador sorteará si usted
        tomará primero la decisión del remitente o la decisión del destinatario. Recuerde que en cada decisión
        interactuará con una persona diferente de esta sesión.
    </p>

    {% next_button %}
{% endblock %}


{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}

