{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    {% if  subsession.round_number  ==  1  %}
        Primera decisión (continuación)
    {% elif  subsession.round_number  ==  2  %}
        Segunda decisión (continuación)
    {% endif %}
{% endblock %}

{% block content %}

    <p>
        Ahora nos gustaría darle la oportunidad de ganar unos cuantos pesos más. Queremos que declare sus expectativas
        sobre el comportamiento de la persona con la cual ha sido emparejado.
    </p>
    {% if  subsession.round_number  ==  1  %}
    <p>
        Por cada respuesta correcta, usted recibirá {{ Constants.money_per_belief }} pesos colombianos. El resultado de
        estas expectativas siempre se pagará, incluso cuando no salga sorteada esta primera decisión para pagar.
    </p>
    {% elif  subsession.round_number  ==  2  %}
    <p>
        Por cada respuesta correcta, usted recibirá {{ Constants.money_per_belief }} pesos colombianos. El resultado de
        estas expectativas siempre se pagará, incluso cuando no salga sorteada esta segunda decisión para pagar.
    </p>
    {% endif %}
    <p>
        ¿Cuántas fichas cree que le vaya a enviar el remitente?
    </p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">0 fichas</td>
                <td class="text-center">1 ficha</td>
                <td class="text-center">2 fichas</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="receiver_belief" value="0"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="receiver_belief" value="1"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="receiver_belief" value="2"></div></td>
            </tr>
        </tbody>
    </table>
    <p>
        ¿Cuál de los tres eventos posibles que se podían enfrentar en la primera parte de la actividad cree usted que el
        remitente con el que interactuó realmente enfrentó?
    </p>
    <p>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">Creo que sus ganancias acumuladas no se vieron afectadas de ninguna manera</td>
                <td class="text-center">Creo que el 80% de sus ganancias acumuladas fueron destruidas</td>
                <td class="text-center">Creo que el 80% de sus ganancias acumuladas fueron robadas por otro participante de otra sesión</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-center"><div class="radio "><input type="radio" name="receiver_belief_shock" value="1"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="receiver_belief_shock" value="2"></div></td>
                <td class="text-center"><div class="radio "><input type="radio" name="receiver_belief_shock" value="3"></div></td>
            </tr>
        </tbody>
    </table>
    </p>


    {% next_button %}
{% endblock %}

{% block styles  %}
    <link href="{% static "css.css" %}" rel="stylesheet">
{% endblock %}
